*{
	margin: 0px;
}
.menubar{
	width: 100%;
	height: 60px;
	background: #fff;
	//border: 2px solid black
}
.right1 ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
}
.right1 .nor{
	padding-left: 35px;
	padding-top: 25px;
}
.right1 .logo{
	padding-right: 50px;
	padding-left: 10px;
	padding-top: 10px;
}
.right1 a{
	text-decoration: none;
	color: black;
}
.right1{
	display: flex;
	justify-content: space-between;
}
.right1 .top_logo{
	padding-left: 70px
}
.right1 a:hover{
	padding-top:20px;
	padding-bottom: 20px;
	background: skybkue;
}
.header{
	  background: url(img-1.jpg) no-repeat center center/cover;
	  width: 100%;
	}
	.inner{
		padding-top: 10%;
		padding-bottom: 10%;
		padding-left: 30%;
		color: #fff;
		width: 40%;
		//position: absolute;

	}
	.inner p{
		text-align: center;
		font-family: serif;
	}
	.big .b{
		font-size: 50px;
		font-style: bold;
		font-family: arial;
	}
	.big{
		font-style: none;
		font-size: 35px;
	}
	.inner .small{
		font-family: sans-serif;
	}
	.btm{
		display: flex;
	justify-content: center;
	width: 100%;
	//height: 7vh;
	padding: 10px;
	}
	.b1{
		padding: 1em 1em;
		border-radius: 40px;
		background: #DBA700;
		text-transform: uppercase;
		letter-spacing: 2px;
		color:#fff;
	}
	.b2{
			padding: 1em 1em;
		border-radius: 40px;
		margin-left:10px 
		broder:1px solid white;
		background: transparent;
		text-transform: uppercase;
		letter-spacing: 2px;
		color:#fff;
	}
	.main{
		display: flex;
		width:100%;
	//	height: 60vh;
	}
	.main .left{
		width:50%;
		//height: 70vh;
		padding:50px;
		padding-left: 70px;
	}
	.left .head{
		font-size: 60px;
		font-family: arial;
		
	}
	.left p{
		text-align: left;
			padding: 20px;
	}
	.left .body{
		font-family: sans-serif;
		font-size: 20px;
	}
	.left li{
		font-size: 20px;
		padding: 5px;
	}
	.right{
		width: 50%;
		justify-content: center;
		padding-top:50px;
	}
	.header2{
		width:100%;
		background: url(img-2.jpg) no-repeat center center/cover;
	}
	.main2{
		width:100%;
		padding-bottom: 30px;
	}
	.top{
		width: 100%;
		justify-content: center;
		flex-grow: 1;
		padding-top: 60px;
	}
	.top p{
		color: #fff;
		text-align:center;
	}
	.top p{
		color: #fff;
		tex: center;
		font-size: 40px;
		font-family: sans-serif;
	}
	.middle{
		display: flex;
		width: 100%;
		padding-top: 100px;
		padding-bottom: 40px;;
		justify-content: center;
		}
		.first{
		justify-content: center;
	}
	.second{
		justify-content: center;
	}
	.third{
		justify-content: center;
	}
	.first,.second,.third{
		padding-right: 20px;
	}
	.middle figcaption{
		color: #fff;
		text-align: center;
		font-family: arial;
	}
	.middle img{
		margin-left: auto;
 		margin-right: auto;
  		width:90%;
  		padding-bottom: 50px;
	}
	.last{
		width: 100%;
		display: flex;
		justify-content: center;
	}
.main3{
	width: 80%;
	padding: 65px;
}
.first1{
	width:100%;
}
.big1{
	font-size: 50px;
	font-family: arial;
}
.small1{
	font-size: 20px;
}
.second1 ul{
	display: flex;
	padding-top: 20px;
	margin:0;
	justify-content: flex-start;
}
.second1 li{
	padding: 25px;

}
.second1 a{
	text-decoration: none;
	color: grey;
}
.second1 a:hover{
	padding : 10px;
}
.third1{
	display: flex;
	width: 100%;
}
.first2{
	width: 30%;
	padding-right: 20px;
}
.one{
	width: 100%;
	padding-bottom: 5px;
}
.one img{
	height: 40vh;
}
.two img{
	height: 20vh;
}
.two{
	width: 100%;
	padding-bottom: 5px;
	}
.header3{
	  background: url(img-4.jpg) no-repeat center center/cover;
	  width: 100%;
	  overflow: hidden;
	  display: flex;
	  justify-content: center;
}
.middle1{
	display: flex;
	width: 80%;
	padding: 10vh;
	justify-content: center;
}
.blk{
	width: 20%;
}
.che{
	color: yellow;
}
.blk p{
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 10px;
	font-family: arial;
}
.blk .no{
	font-size: 30px;
}
.blk_img{
	display: block;
	text-align: center;
}
.main4{
	width: 100%;
	background: rgb(230, 223, 215);
}
.top1{
	width: 100%;
	justify-content: center;
}
.big2{
	text-align: center;
	font-size: 50px;
	padding-top: 30px;
	font-family: arial;
}
.little{
	text-align: center;
	padding-top: 20px;
	font-family: arial;
}
.bottom{
	width: 100%;
	display: flex;
	justify-content: center;
	flex-shrink: 1;
}
.in{
	width: 25%;
	background: #fff;
	margin:20px;
	padding-bottom: 40px;

}
.head1{
	font-size: 30px;
	padding: 15px;
	font-family: arial;
}
.head2{
	font-family: arial;
	color: grey;
	font-size: 13px;
	padding-bottom: 30px;
}
.head3{
	font-size: 25px;
	font-style: bold;
	font-family: arial;
	padding-bottom:15px;

}
.head4{
	padding: 10px;
	font-family: arial;	
}
.head5{
	padding:5px;
	font-family: arial;
	color: grey;
}
.bottom p{
	text-align: center;

}
.b3{
	padding: 15px;
	border-radius: 40px;
}
.db{
	display:flex;
	justify-content: center;
}
.header4{
	width: 100%;
	background: url(img-2.jpg) no-repeat center center/cover;
}
.overlay1{
	width: 100%;
	background: rgba(6, 11, 72, 0.84);
}
.main5{
	width: 100%;
	display: flex;
	position: absolute;
}
.top2{
	display: flex;
	width: 100%;
	
}
.top2_left{
	width: 80%;
	padding: 60px 0px 0px 40px;
}
.top2_left p{
	color: #fff;
}
.big4{
	font-size: 60px;
	padding-bottom: 20px;
}
.small2{
	padding-left: 10px;
}
.top2_side{
	width: 20%;
	padding-top:80px;
}
.top2_side img{
	padding: 30px;
	width: 10px;
	height: 10px;
	background: rgb(41, 46, 105);
}
.top2_side a:hover{
	background-color:yellow; 
}
.middle2{
	display: flex;
	width: 100%;
}
.middle2_left{
	width: 50%;
	padding: 80px 80px 80px 40px; 
}
.middle2 p{
	color: #fff;
	text-align: center;
}
.middle2 img{
	width: 80px;
	height: 80px;
	padding-bottom: 20px;
	border-radius: 90px;
}
.middle2_img{
	display: block;
	text-align: center;
}

.big5{
	font-size: 20px;
	padding-bottom: 10px;
}
.big5_mid{
	font-size: 15px;
	padding-bottom: 10px
}
.main6{
	width: 100;
	background:;

}
.top3{
	width: 100%;
}
.top3 p{
	padding: 50px 10px 10px 50px;
}
.middle3{
	display: flex;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 40px;
	justify-content: center;
}
.middle3_left{
	width: 27%;
	//padding: 10px;
	margin: 10px;
	border-radius:10px;
	border-style: outset;
}
.middle3_middle{
	width: 27%;
	margin: 10px;
	border-radius:10px;
	border-style: outset;
}
.middle3_right{
	width: 27%;
	margin: 10px;
	border-radius:10px;
	border-style: outset;
}
.middle3_btm{
	padding: 20px;
	margin: 10px; 
	background: #fff;
	border-radius: 40px;
	text-transform: uppercase;
	letter-spacing: 2px
}
.middle3 p{
	padding: 20px;
}
.fotter{
	width: 100%;
	background:#32006D ;
}
.top4{
	width: 100%;
}
.top4 img{
	padding-left: 100px;
}
.middle4{
	display: flex;
	width: 100%;
}
.middle4_left{
	display: flex;
	width: 70%;
	padding: 50px;
}
.middle4_left p{
	color: #fff;
}
.u1{
	padding: 0px 0px 0px 100px;
}
.u1_head{
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
}
.u1_body{
	text-transform: uppercase;
	padding-bottom: 10px;
	font-family: monospace;
	font-size: smaller;
}
.u1_body a{
	text-decoration: none;
	color: #fff;
}
.middle4_right{
	width: 30%;
}
.middle4_right p{
	color: #fff;
	padding-top: 40px;
	padding-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.middle4_right button{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 40px;
	background: #fff;
	border-radius: 40px;
}
.fotter_last{
	width: 100%;
}
.fotter_last p{
	color: ghostwhite;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 10px;
	padding-bottom: 5px;
	opacity: 50%;
}